{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">¿Listo para otra mordida? <br>Accede con tus datos:</h1>
<div class="row justify-content-center loginInfo">
    <div class="col-md-6">
        <div class="card" style="border-radius: 20px;">
            <div class="card-body">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" required placeholder="Ingresa tu usuario" aria-label="User usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" required placeholder="Ingresa tu contraseña" aria-label="User contraseña">
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary  btLogin">
                        Iniciar Sesión
                        </button>
                    </div>
                </form>
                <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
            </div>
        </div>
        <p class="text-center mt-3">
            ¿No tienes una cuenta? <a href="/registro/" style="color: #E2715B;">Regístrate</a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const loginForm = document.getElementById('login-form');
    const errorMessage = document.getElementById('error-message');

    loginForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const username = loginForm.username.value;
        const password = loginForm.password.value;

        fetch('/api/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify({ username: username, password: password })
        })
            .then(response => response.json())
            .then(data => {
                console.log("Respuesta del backend:", data);

                if (data.token) {
                    localStorage.setItem('token', data.token);
                    localStorage.setItem('rol', data.rol);
                    console.log("Rol del usuario:", data.rol);

                    if (data.rol === 'negocio') {
                        window.location.href = '/negocio/';  
                    } else if (data.rol === 'cliente') {
                        window.location.href = '/cliente/';  
                    } else {
                        window.location.href = '/';
                    }
                } else {
                    errorMessage.textContent = data.error || 'Credenciales inválidas';
                    errorMessage.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                errorMessage.textContent = 'Error al iniciar sesión';
                errorMessage.style.display = 'block';
            });
    });
</script>
{% endblock %}