/* Colores usados en toda la página */
:root {
    --fondoNavFot: #E2715B;
    --fondo: #FFF8E0;
}

body{
    background-color: var(--fondo);
}

/* ------------------- NAVBAR ---------------- */
.navbar-custom {
    background-color: var(--fondoNavFot);
    width: 100%;
    margin: 0;
    padding: 0 30px 10px 30px;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0 12px;     
    height: 40px;        
    border-radius: 20px; 
    box-sizing: border-box;
    width: 500px;
    margin: 0; 
} 

/* Lupa dentro de la barra */
.search-icon {
    flex-shrink: 0;      
    width: 24px;         
    height: 24px;
    margin-right: 8px;   
}

/* Input sin bordes */
.search-input {
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    color: #555;
}

.search-input::placeholder {
    color: #00000021;
}

/* ------------------- FOOTER ---------------- */
footer{
    background-color: var(--fondoNavFot);
}

/* ---------------- LOGIN --------------- */
.loginInfo{
    padding: 20px;
}

.card-body{
    background-color: rgba(217, 217, 217, 0.471);
    border-radius: 20px;
    padding: 15px 20px 0px 20px;
}

.btLogin{
    background-color: #E2715B70;
    border-radius: 20px;
    color: #E2715B;
    border: none;
    margin: 10px 0px 10px 0px;
    width: 150px;
}

.btLogin:hover{
    background-color: var(--fondoNavFot);
}

.btLogin:focus,
.btLogin:active {
  background-color: #E2715B70 !important;
  box-shadow: none !important;
}

.form-control{
    background-color: #E2715B30;
    border: none;
    border-radius: 20px;
}

.form-control:focus {
  background-color: #E2715B30;        /* blanco */
  box-shadow: 0 0 0 0.2rem #E2715B60; /* glow azul */
}

/* ------------HOME VIEW------------------- */
.custom-btn{
    background-color: #E2715B70;
    border-radius: 10px;
    border: none;
    padding: 5px 20px 5px 20px;
    color: var(--fondoNavFot);
}

.custom-btn:hover{
    background-color: var(--fondoNavFot);
    color: white;
}

button.custom-btn:focus,
button.custom-btn:active {
    color: white;
    background-color: var(--fondoNavFot);
}


.div-local{
    border-radius: 20px;
}

.cardIMG{
    height: 180px; 
    object-fit: cover; 
    border: 1px solid #D9D9D931; 
    background-color: #f8f9fa; 
    border-radius: 20px 20px 0px 0px;
}

.localInfo{
    background-color: #e2725bbe; 
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 20px;
}

.btProduct{
    background-color: #D9D9D931;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.517);
    border: none;
    width: 150px;
}

.btProduct:hover{
    background-color: var(--fondoNavFot);
}

.btProduct:focus,
.btProduct:active {
  background-color: #E2715B70 !important;
  box-shadow: none !important;
}

/* -------------------CARRITO--------------------- */
/* ----- Bloque Total ----*/
.totalDiv{
    background-color: #D9D9D980;
    border-radius: 1rem;
    overflow: hidden;
    /* padding-bottom: 1rem; */
}

.total-header{
    background-color: #E2715B90;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 70px 20px 70px;
    /* font-size: 25px; */
}

.divtext-bt{
    padding: 20px;
}

.btn-pedido{
    background-color: #E2715B70;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.517);
    width: 150px;
}

.btn-pedido:hover{
    background-color: var(--fondoNavFot);
    color: white;
}

.btn-pedido:focus,
.btn-pedido:active {
    background-color: var(--fondoNavFot) !important;
    box-shadow: none !important;
}

/* ------------------- PRODUCTOS ---------------- */
.infoTable {
    border-collapse: separate;     
    border-spacing: 0;             
    border-radius: 20px;           
    overflow: hidden;             
}

.infoTable thead th {
    background-color: #E2715B90;  
    color: #000;
    padding: 10px;                
    border: none;    
    text-align: center;
    vertical-align: middle;              
}

.infoTable thead th:first-child {
    border-top-left-radius: 10px;
}
.infoTable thead th:last-child {
    border-top-right-radius: 10px;
}

.infoTable tbody td {
    background-color: #D9D9D980;   
    border: none;                
}

.infoTable th,
.infoTable td {
    padding: 20px !important;
}
